* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* DESIGN */

:root {
  --Blue: #345ff6;
  --Blue-fade: #345ff626;
  --Gunmetal: #253347;
  --Dark-electric-blue: #5e6e85;
  --Pure-white: #ffffff;
}

.heading-xl,
.heading-l,
.heading-m,
.heading-s {
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -1px;
  color: var(--Gunmetal);
}

.heading-xl {
  font-size: 64px;
}

.heading-l {
  font-size: 48px;
}

.heading-m {
  font-size: 24px;
}

.heading-s {
  font-size: 20px;
}

.body-m,
.body-m-bold,
.body-s {
  line-height: 150%;
}

.body-m {
  font-size: 16px;
  font-weight: 400;
}

.body-m-bold {
  font-size: 16px;
  font-weight: 600;
}

.body-s {
  font-size: 14px;
  font-weight: 400;
}

/* DESIGN */

.body {
  display: flex;
  place-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 72px;
  color: var(--Dark-electric-blue);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 2rem 1.5rem 0;
  position: relative;
}

.hero-rectangle {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 61.1rem;
  height: 38.2rem;
  background: linear-gradient(to right, #fff 0%, #d6ecfe 100%);
  border-radius: 0 0 35px 35px;
  z-index: -1;
}

.hero-img-container {
  width: 2.5rem;
  height: 2.5rem;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  text-align: center;
}

.hero-title,
.hero-content {
  color: var(--Gunmetal);
}

.hero-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  background-color: var(--Pure-white);
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
}

.hero-units {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  border: none;
}

.hero-unit {
  display: flex;
  align-items: center;
  gap: 18px;
}

#metric,
#imperial {
  appearance: none;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid var(--Dark-electric-blue);
  position: relative;
  cursor: pointer;
}

#metric:checked,
#imperial:checked {
  background-color: transparent;
  border: 8px solid var(--Blue-fade);
}

#metric:checked::after,
#imperial:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--Blue);
}

.hero-values {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-value {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.value-input-container,
.imperial-unit {
  display: flex;
  gap: 24px;
  border: 1px solid var(--Dark-electric-blue);
  padding: 1.25rem 1.5rem;
  border-radius: 12px;
}

.value-input-container span {
  color: var(--Blue);
}

.value-input-container.metric:active,
.value-input-container.metric:hover,
.imperial-unit:active,
.imperial-unit:hover,
input:active,
input:hover,
#metric:active,
#metric:hover,
#imperial:active,
#imperial:hover {
  cursor: pointer;
  border: 1px solid var(--Blue);
}

.imperial {
  gap: 16px;
  border: none;
  padding: 0;
}

.hidden {
  display: none;
}

#height,
#weight {
  border: none;
  width: 100%;
}

#height:focus-visible,
#weight:focus-visible {
  outline: none;
}

.hero-result {
  background-color: var(--Blue);
  color: var(--Pure-white);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-result-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-result-header p {
  color: var(--Pure-white);
}

/*  */

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.eating-img {
  width: 100%;
  height: 100%;
}

.result-description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 1.5rem;
}

.result-description-header {
  font-size: 32px;
  font-weight: 600;
  color: var(--Gunmetal);
  letter-spacing: -1.5px;
}

.tips {
  padding: 3.5rem 1.5rem;
  background: linear-gradient(to right, #fff 0%, rgb(214, 230, 254, 0.25) 100%);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tip {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tip-img {
  width: 4rem;
  height: 4rem;
}

.tip-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bmi-limitations {
  padding: 0 1.5rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.bmi-limitations-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bmi-limitations-title {
  color: var(--Gunmetal);
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -2px;
  text-align: center;
}

.bmi-limitations-header-text {
  text-align: center;
}

.bmi-limitations-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bmi-limitations-content-item {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
}

.bmi-limitations-subheader {
  display: flex;
  gap: 16px;
  align-items: center;
}

@media (min-width: 768px) {
  .main {
    gap: 96px;
  }

  .hero {
    padding: 2rem 2.6rem 0;
    gap: 40px;
  }

  .hero-content {
    padding: 2.6rem;
    gap: 32px;
  }

  .hero-unit {
    width: 50%;
  }

  .hero-values {
    flex-direction: row;
    gap: 24px;
  }

  .hero-result {
    border-top-left-radius: 164px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border-bottom-left-radius: 164px;
    flex-direction: row;
  }

  .hero-result-header {
    width: 50%;
  }

  .hero-result-content {
    width: 50%;
  }

  .result {
    flex-direction: row;
    gap: 35px;
  }

  .eating-img-container-wrapper {
    width: 50%;
  }

  .eating-img-container {
    width: 435px;
    margin-left: -80px;
  }

  .result-description {
    padding: 0;
    padding-right: 2.6rem;
    width: 50%;
  }

  .tips {
    padding: 3.75rem 2.6rem;
  }

  .tip {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .bmi-limitations {
    padding: 0 2.6rem 6rem;
  }

  .bmi-limitations-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 15px;
  }

  .bmi-limitations-content-item:last-child {
    grid-column: 1 / -1;
    width: 50%;
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-result {
    flex-direction: column;
  }

  .hero-result-header,
  .hero-result-content {
    width: auto;
  }

  .hero-img-container {
    width: 4rem;
    height: 4rem;
  }

  .hero-header {
    grid-row: 2 /3;
  }

  .hero-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .result {
    padding: 0 2.6rem;
  }

  .eating-img-container {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 2rem 8.75rem 0;
    margin-bottom: 65px;
  }

  .hero-rectangle {
    left: 24px;
    height: 46rem;
  }

  .hero-header {
    gap: 35px;
    width: 83%;
  }

  .hero-title,
  .hero-description {
    text-align: left;
  }

  .hero-title {
    font-size: 64px;
    letter-spacing: -4px;
  }

  .result {
    padding: 0 8.75rem;
    gap: 131px;
  }

  .result-description {
    padding-bottom: 2.5rem;
    align-self: end;
    gap: 35px;
  }

  .result-description-header {
    font-size: 48px;
    letter-spacing: -4px;
  }

  .eating-img-container {
    width: 564px;
  }

  .tips {
    padding: 3.75rem 8.75rem;
    flex-direction: row;
    gap: 32px;
  }

  .tip {
    flex-direction: column;
    align-items: baseline;
    gap: 45px;
  }

  .bmi-limitations {
    flex-direction: row;
    position: relative;
    padding: 0 8.65rem 6rem;
  }

  .bmi-limitations-header {
    position: absolute;
    top: 0;
    left: 149px;
    width: 39%;
    gap: 35px;
  }

  .bmi-limitations-title,
  .bmi-limitations-header-text {
    text-align: left;
  }

  .bmi-limitations-title {
    font-size: 48px;
    font-weight: 600;
  }

  .bmi-limitations-content {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 15rem;
  }

  .bmi-limitations-content-item {
    padding: 2rem;
    align-self: center;
  }

  .bmi-limitations-content-item:nth-child(1) {
    grid-column: 6 / 10;
    grid-row: 1 / 2;
  }

  .bmi-limitations-content-item:nth-child(2) {
    grid-column: 3 / 7;
    grid-row: 2 / 3;
  }

  .bmi-limitations-content-item:nth-child(3) {
    grid-column: 7 / 11;
    grid-row: 2 / 3;
  }

  .bmi-limitations-content-item:nth-child(4) {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .bmi-limitations-content-item:nth-child(5) {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
    width: auto;
  }
}
